<ion-toolbar id="title">
  <script src="https://kit.fontawesome.com/e847308fac.js" crossorigin="anonymous"></script>
  <ion-title>
    Main Page
  </ion-title>
  <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-buttons>
  <div class="wrapper">
<div class="notification_wrap">
  <div class="notification_icon">
    <i class="fas fa-bell"></i>
  </div>
  <div class="dropdown">
    <div class="notify_item"></div>
    <div class="notify_img">
      <img src="assets/kalemati.png" alt="kalemati notification_icon" style="width: 50px;">
    </div>
    <div class="notify_info">
      <p>Your Subscription has ended <span>today</span></p>
      <span class="notify_time">8:00 am</span>
    </div>
  </div>
</div>

  </div>
</ion-toolbar>
<meta charset="utf-8">

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" id="addchild" (click)="showmodal()">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div>
    <ion-grid>
      <ion-col>

        <ion-row>
          <ion-card>

            <ion-card-content>
              <img src="assets/kalemati.png" width="90px" height="90px" alt="كروتي" (click)="cards()">
              <div>
                <p (click)="cards()">كلماتي</p>
              </div>
            </ion-card-content>

          </ion-card>
          <ion-card>

            <ion-card-content>
              <img src="assets/kalemati.png" width="90px" height="90px" alt="كروتي" (click)="market()">
              <div>
                <p (click)="market()">سوق الكروت</p>
              </div>
            </ion-card-content>

          </ion-card>

        </ion-row>
      </ion-col>
    </ion-grid>
  </div>
</ion-content>