ion-title{
    text-align: center;
}

 ion-card   {

margin: 12px;
padding:5px;
 }
#notification{
    position:fixed;
    right:15px;
    top: 20px;
    font-size: 20px;
}
.notiflist{
    visibility: hidden;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*{
    margin:0px;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}*/
.notification_wrap  {
    width:50px;
    margin:5px auto 0;
}
.notification_wrap .notification_icon
{
    position: relative;
    width:100% ;
    height: 30px;
  //  background: cornflowerblue;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    color:#FDAC1C;
}
.notification_wrap .notification_icon .notif_bell   {
    cursor: pointer;
}
.notification_wrap .dropdown {
    width: 250%;
 //   max-height: auto;
    background: white;
   // border-radius: 5px;
   box-shadow: 2px 2px 3px rgba(0,0,0,0.125);
   margin:15px auto 0;
   padding:15px;
   position:relative;
   display: none;
}
.notification_wrap .dropdown .notify_item
{
 display: flex;
 align-items: center;
 padding: 10px 0; 
 border-bottom: 1px solid #dbdaff;  
}
.notification_wrap .dropdown .notify_item:last-child
{
border-bottom: 0px;
}
.notification_wrap .dropdown .notify_item .notfy_img{
    margin-right: 15px; 
}
.notification_wrap .dropdown .notify_item .notify_info p span {
color:#605dff;
margin-left: 5px;
}
.notification_wrap .dropdown .notify_item .notify_info .notify_item {
    color:#c5c5a6;
    font-size: 12px;
}
.notification_wrap .dropdown :before{
    content: "";
    position:absolute;
    top:-30px;
    left:10%;
    //transform: translateX(-50%);
    border:15px solid;
    border-color: transparent transparent#FDAC1C transparent;
} 
.notification_wrap .dropdown:active{
    display: block;
} 

#notif{
    position: fixed;
    right:15px;
    top:15px;
    color:#FDAC1C;
    font-size:25px;
}
.swiper-container{
    width: 100%;
    height: 100%;
}
.swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
ion-toggle ,ion-label{
    position:fixed;
    right:5px;
}
img{
    width: 90px;
    height:90px;
}
#lock1{
    position:fixed;
    right:60px;
    top:65px;
    color:#FEAD1D;
}
#close{
    position: fixed;
    right:10px;
    top:5px;
}