p{
    text-align:center;
}
img,ion-button{
display: block;
margin-left: auto;
margin-right: auto;
}
ion-title{
 text-align: center;
}
#close{
    position:fixed;
    right:5px;
    font-weight: bold;
}