<ion-toolbar>
  <ion-icon name="arrow-back-outline" style="font-size:20px"></ion-icon>
    <ion-title class="ion-text-center">Kalemati market</ion-title>
  <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-12>
        <ion-card>
           <ion-card-content >
            <img src="assets/kalemati.png" alt="أدوات المطبخ والطعام" width="90px" height="90px"
              (click)="showdetails()">
            
            </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content 
  ></ion-refresher-content>
  </ion-refresher>
</ion-content>