<ion-toolbar>
    <ion-title>add child</ion-title>
    <meta charset="utf-8">
    <ion-icon name="close-outline" id="close" (click)="cancel()"></ion-icon>

</ion-toolbar>
<ion-content>
  <ion-header>

  </ion-header>
  <ion-form (ngSubmit)="addchild()" #addform="ngForm">
    <div id="error"></div>
    <ion-item>
      <ion-label position="floating">Child name</ion-label>
      <ion-input type="text" [(NgModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" [(NgModel)]="gender">Gender</ion-label>
      <ion-select>
        <ion-select-option value="Male" name="boy">Male</ion-select-option>
        <ion-select-option value="Female" name="girl1">Female</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating" [(NgModel)]="age">Child age</ion-label>
      <ion-input type="number" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-button type="submit">add child</ion-button>
    </ion-item>
  
  </ion-form>
</ion-content>