  <ion-toolbar>
    <ion-title>admin-dashboard</ion-title>
  </ion-toolbar>

<ion-content  >
  <ion-button (click)="add_Custoemr()">Add Customer</ion-button>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          Chart1
        </ion-card-header>
        <ion-card-contetnt>
          chart 1 graph
        </ion-card-contetnt>
      </ion-card>
      <ion-card>
        <ion-card-header></ion-card-header>
      </ion-card>
      <ion-list>
        <ion-list-header>
          List of children
        </ion-list-header>
        <ion-item>ahmad</ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  
</ion-grid>

</ion-content>
