  <ion-toolbar>
    <ion-title class="ion-text-center">*Package name*</ion-title>
  </ion-toolbar>
  <ion-icon name="close-outline" id="close" (click)="back()"></ion-icon>
<ion-content>
  <ion-label id="lock1"> <ion-icon name="lock-open-outline"></ion-icon></ion-label>
      <ion-toggle expand="full" (click)="toggleTouch()" >
       <ion-label> <ion-icon name="lock-open-outline"></ion-icon></ion-label>
      </ion-toggle>

<swiper #swiper  [config]="config"  ><!--[allowTouchMove]="false" this can be used for locking -->
  <ng-template swiperSlide >
   
        <img src="assets/kalemati.png" alt="kalemati">
    
</ng-template>
  <ng-template swiperSlide (click)="showdetails()">Slide 2</ng-template>
  <ng-template swiperSlide (click)="showdetails()">Slide3</ng-template>
  <ng-template swiperSlide (click)="showdetails()"><p (click)="cardview()">Slide4</p></ng-template>
  <ng-template swiperSlide>Slide5</ng-template>
  <ng-template swiperSlide>Slide6</ng-template>
  <ng-template swiperSlide>Slide7</ng-template>
  <ng-template swiperSlide>Slide8</ng-template>
  <ng-template swiperSlide>Slide9</ng-template>
  <ng-template swiperSlide>Slide10</ng-template>
  <ng-template swiperSlide>Slide1</ng-template>
</swiper>



</ion-content>

  <!--<ion-row>

    <ion-col size="4">
      <ion-button expand="full" (click)="toggleTouch()">
        <ion-icon name="lock-open-outline"></ion-icon>
      </ion-button>
    </ion-col>
    
  </ion-row>-->
